*{
    margin:0 ;
}

body {
    font-family: "Comic Relief", system-ui;
    background: #9ea5ff;
}



header{background: linear-gradient(45deg, #0077b6,#00b4d8);box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2) ;

padding: 20px;
text-align: center;
}


h1{
color: #fff;
margin-bottom: 20px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

a{
color: #fff;
text-decoration: none;

}


.about{
    padding: 40px;
    margin: 20px auto;
    max-width: 900px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}


